@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.FoodItem{
    width: 90%;
    height: 20%;
    border-bottom: 1px solid grey;
    display: flex;
    font-size: 0.4em;
    align-items: center;
}

.foodImage {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 10px;
}

.foodItemName{
    margin-left: 15px;
    text-align: left;
    width: 150px;
    font-size: 0.7em;
    display: inline;
}

.buttonInc {
    margin-right: 10px;
    margin-left: 10px;
    height: 25px;
    width: 25px;
    padding: 1px;
    border-style: none;
    background-color: #BBDEFB;
}

.buttonInc:hover{
    background-color: #90CAF9;
    box-shadow: 0px 0px 15px 2px #90CAF9;
    border-radius: 15px 15px 15px 15px;
}

.inputNumber{
    background-color: #BBDEFB;
    min-width: 30px;
    text-align: center;
    border: 1px solid grey;
    width: 30px;
    max-width: 150px;
}

.priceOfItem{
    margin-left: 90px;
    width: 90px;
    font-size: 0.7em;
}

.buttonIncLeft{
    margin-left: 60px;
}

.buttonCross{
    margin-top: 3px;
    margin-left: 40px;
    font-weight: 800;
    color: #E57373;
}